swagger: "2.0"
info:
  version: "0.0.1"
  title: Users API
host: users-api-7296.herokuapp.com
basePath: /
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
  - text/plain
paths:
  /user:
    x-swagger-router-controller: user
    post:
      description: Adds a user
      operationId: addUser
      parameters:
        - name: user
          in: body
          description: New user
          required: true
          schema:
            $ref: '#/definitions/NewUser'
      responses:
        '200':
          description: Successful operation
          schema:
            type: string
    get:
      description: Gets full list of users
      operationId: getUsers
      responses:
        '200':
          description: List of users
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
  /user/{_id}:
    x-swagger-router-controller: user
    get:
      description: Gets specific user by ID
      operationId: getUserById
      parameters:
        - name: _id
          in: path
          description: ID of user to fetch
          required: true
          type: string
      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/User'
    put:
      description: Updates user
      operationId: updateUser
      parameters:
        - name: _id
          in: path
          description: ID of user to update
          required: true
          type: string
        - name: user
          in: body
          description: Updated user
          required: true
          schema:
            $ref: '#/definitions/NewUser'
      responses:
        '200':
          description: Successful operation
          schema:
            type: string
    delete:
      description: Deletes user
      operationId: deleteUser
      parameters:
        - name: _id
          in: path
          description: ID of user to delete
          required: true
          type: string
      responses:
        '200':
          description: Successful operation
          schema:
            type: string
  /swagger:
    x-swagger-pipe: swagger_raw
definitions:
  User:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      age:
        type: number
  NewUser:
    type: object
    properties:
      name:
        type: string
      age:
        type: number
